---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">Sobre mi</a>
    <a href="/blog">Blog</a>

    <h1>Sobre mi</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos maiores
      dicta sint possimus architecto reprehenderit unde quia, recusandae commodi
      impedit nesciunt praesentium temporibus minus! Corporis impedit voluptatum
      laboriosam recusandae tempora?
    </p>
  </body>
</html>
